body {
  background: rgb(240, 234, 234);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  color: #2a7bca;
  text-align: center;
  padding: 20px 20px;
}

p {
  text-align: center;
  padding: 5px 0 0 0;
  color: #2a7bca;
  font-style: italic;
  font-size: 10px;
}
a {
  text-decoration: none;
}
.widget {
  background: #fff;
  margin: 50px auto;
  border: 1px solid rgb(10, 50, 125);
  border-radius: 20px;
  box-shadow: 12px 12px 5px rgb(10, 50, 125);
  max-width: 800px;
}
.mb-3 {
  margin: 0 40px;
}
form {
  position: relative;
}
.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #2a7bca;
  background: #2a7bca;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 45px;
  position: absolute;
  top: 0;
  right: 0;
}
.searchTerm {
  border: 1px solid #2a7bca;
  border-radius: 5px;
  width: 100%;
  height: 36px;
}

.btn-light {
  border: 1px solid #2a7bca;
  border-radius: 10px;
  padding: 5px 0.5px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.weathermain {
  font-size: 60px;
  color: #ced4d9;
  margin-top: 10px;
  text-align: center;
}

.citymain {
  font-size: 35px;
  color: #2a7bca;
  margin-top: 10px;
  text-align: left;
}
.temperaturemain {
  font-size: 35px;
  color: #2a7bca;
  text-align: center;
}
.temperaturemain span {
  position: relative;
  color: #4c4d4e;
  font-size: 12px;
  top: -15px;
}

.temperaturemain .active {
  color: rgb(0, 0, 0);
  cursor: default;
}
.temperaturemain .active:hover {
  text-decoration: none;
}

.textsmall {
  font-size: 10px;
  text-align: left;
  padding: 10px 0 20px 0;
}
.sectionnextdays {
  font-weight: 100%;
}
.nextdays {
  font-size: 15px;
  color: #2a7bca;
  max-width: 150%;
  padding: 10px 0;
}
.weatherother {
  color: #ced4d9;
}
